body, html {
  font-family: 'Comfortaa', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.header {
	margin: 0;
	width: 100%;
	height: 100vh;
	padding: 0;
	background-color: black;
}

.header img {
	width: 80%;
	margin: 0;
	padding-top: 3%;
	padding-left: 10%;
	padding-right: 10%;
}

nav {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: black;
  width: 100%;
}
ul{
	margin: 0;
	padding-right: 20%;
	padding-left: 20%;
	width: 60%;
}

ul li {
  float: left;
  width: 20%;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  background-color: black;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 0px;
  text-decoration: none;
  width: 80%;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-bottom-width: 2px;
  text-transform: uppercase;
}

ul li a:hover {
  background-color: white;
  color: black;
  text-decoration: none;

}

.active {
 border-bottom-color: white;
 font-weight: bold;
}

.test p {
	margin: 50px 200px;
	font-size: 24px;
}

.big-box {
	float: left;
	width: 100%;
	margin: 0;
}


.filling{
	padding-left: 10%;
	padding-top: 3%;
	padding-bottom: 3%;
	width: 30%;
	color: white;
	background-color: black;
	overflow: 0;
	margin: 0;
}

.wrapper{
	width: =100%;
	margin: 0;
}

#details {
	width: 100%;
	white-space: pre-wrap;
	overflow: auto;
	height: 300px;
}


footer {
	width: 100%;
	background-color: black;
	color: white;
	margin: 0;
}

footer p {
	padding: 50px;
	margin: 0;
	text-align: center;
	font-size: 14px;
}